#ifndef CREDENTIALS_H
#define CREDENTIALS_H

// WiFi parameters
const char* ssid = "mySSID";
const char* password = "myPASS";

// ThingSpeak parameters
const char* server = "api.thingspeak.com";
const String apiKey = "myAPI";

#endif
